# Network-based Gene Prioritization from GWAS Data
MED283: Network Biology & Biomedicine  
Nadia Arang & Kevin Chau

TODO:
1. Map rescores to old gene summaries table
2. SNP assignment according to regression analysis

In [1]:
%matplotlib inline

import ndex2
import networkx as nx
import pandas as pd
import numpy as np
from scipy.stats import spearmanr

## Initial data loading

GIANT
> Greene CS*, Krishnan A*, Wong AK*, Ricciotti E, Zelaya RA, Himmelstein DS, Zhang R, Hartmann BM, Zaslavsky E, Sealfon SC, Chasman DI, FitzGerald GA, Dolinski K, Grosser T, Troyanskaya OG. (2015). Understanding multicellular function and disease with human tissue-specific networks. Nature Genetics. 10.1038/ng.3259w.

PCNet
> Huang JK*, Carlin DE*, Yu MK, Zhang W, Kreisberg JF, Tamayo P, Ideker T. (2018). Systematic Evaluation of Molecular Networks for Discovery of Disease Genes. Cell Systems. 4 (6): 484-495.e5. doi: 10.1016/j.cels.2018.03.001

In [2]:
# Load network from server
# PCNet
# pc_nice = ndex2.create_nice_cx_from_server(server = "http://public.ndexbio.org", 
#                                            uuid = "f93f402c-86d4-11e7-a10d-0ac135e8bacf")

# GIANT; Brain-specific, 0.2-confidence filter
bn_nice = ndex2.create_nice_cx_from_server(server = "http://public.ndexbio.org", 
                                           uuid = "19677bff-6037-11e8-a4bf-0ac135e8bacf")

In [3]:
# Cast as networkx object
# First cast to pandas since networkx 2.1 is incompatible with ndex2
# nt_pd = pc_nice.to_pandas_dataframe()
nt_pd = bn_nice.to_pandas_dataframe()
net = nx.from_pandas_edgelist(nt_pd)

In [4]:
# Load gene summary table
gene_summaries_given = pd.read_csv("../src/gene_level_summary_stats_pmid_25056061.txt", 
                                   header = 0, sep = '\t', index_col = 1)
gene_summaries_given.head()

,Unnamed: 0,Chr,Gene Start,Gene End,nSNPs,TopSNP,TopSNP Pos,TopSNP P-Value,SNP Distance
Gene,,,,,,,,,
HIST1H4K,5905,6,27906930,27907284,8,rs34706883,27913234.0,5.071180e-10,6304.0
HIST1H2AK,5867,6,27913636,27914096,16,rs34706883,27913234.0,5.071180e-10,402.0
HIST1H2BN,5883,6,27914418,27914867,17,rs34706883,27913234.0,5.071180e-10,1184.0
HIST1H2AL,5868,6,27941085,27941555,10,rs13199772,27942064.0,7.053790e-10,979.0
HIST1H1B,5855,6,27942548,27943338,10,rs13199772,27942064.0,7.053790e-10,484.0

In [5]:
# Load snp summary table
snp_summaries = pd.read_csv("../src/snp_level_summary_stats_pmid_25056061.txt", 
                            header = 0, sep = '\t', index_col = 0, na_values = ".")
snp_summaries.head()

,hg18chr,bp,a1,a2,or,se,pval,info,ngt,CEUaf
snpid,,,,,,,,,,
rs3131972,1,742584,A,G,1.0257,0.0835,0.761033,0.1613,0,0.160550
rs3131969,1,744045,A,G,1.0221,0.0801,0.784919,0.2225,0,0.133028
rs3131967,1,744197,T,C,1.0227,0.0858,0.793520,0.2060,0,NaN
rs1048488,1,750775,T,C,0.9749,0.0835,0.761041,0.1613,0,0.836449
rs12562034,1,758311,A,G,1.0011,0.0756,0.987899,0.1856,3,0.092593

### Gene significance by normalized p-value

In [6]:
# Assign SNPs to genes based on +/- nkb window
nkb = 10

# Init new gene_summaries dataframe
gene_summaries = gene_summaries_given.loc[:, ["Chr", "Gene Start", "Gene End"]]
gene_summaries.head()

           Chr  Gene Start  Gene End
Gene
HIST1H4K     6    27906930  27907284
HIST1H2AK    6    27913636  27914096
HIST1H2BN    6    27914418  27914867
HIST1H2AL    6    27941085  27941555
HIST1H1B     6    27942548  27943338

In [7]:
gene_scores = []
for gidx, gene in gene_summaries.iterrows():
    chrom = gene["Chr"]
    
    # filter for chromosome
    this_snps = snp_summaries[snp_summaries["hg18chr"] == chrom]
    
    # filter for upstream endpoint
    this_snps = this_snps[this_snps["bp"] >= gene["Gene Start"] - (nkb * 1000)]
    
    # filter for downstream endpoint
    this_snps = this_snps[this_snps["bp"] <= gene["Gene End"] + (nkb * 1000)]
    
    # Calculate adjusted bonferroni-adjusted p-value -> "gene score"
    pvals = [p * snp_summaries.shape[0] for p in this_snps.loc[:, "pval"].tolist()]
    adj_score = min(pvals) / len(pvals)
    gene_scores.append(adj_score)
gene_summaries["Gene Score"] = gene_scores

In [8]:
gene_summaries.head()

           Chr  Gene Start  Gene End  Gene Score
Gene
HIST1H4K     6    27906930  27907284    0.000079
HIST1H2AK    6    27913636  27914096    0.000040
HIST1H2BN    6    27914418  27914867    0.000037
HIST1H2AL    6    27941085  27941555    0.000088
HIST1H1B     6    27942548  27943338    0.000088

In [9]:
# Compare new gene list to given
glist_new = gene_summaries.sort_values(by = ["Gene Score"]).index.tolist()

In [10]:
glist_old = gene_summaries_given.sort_values(by = ["TopSNP P-Value"]).index.tolist()

In [11]:
spearmanr(glist_new, glist_old)

/usr/local/lib/python3.6/site-packages/scipy/stats/stats.py:245: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

SpearmanrResult(correlation=0.002957765695483798, pvalue=0.7174935546409653)

In [12]:
gene_summaries[gene_summaries["Gene Score"] <= 0.05]

           Chr  Gene Start   Gene End  Gene Score
Gene
HIST1H4K     6    27906930   27907284    0.000079
HIST1H2AK    6    27913636   27914096    0.000040
HIST1H2BN    6    27914418   27914867    0.000037
HIST1H2AL    6    27941085   27941555    0.000088
HIST1H1B     6    27942548   27943338    0.000088
HIST1H3I     6    27947601   27948078    0.000088
HIST1H4L     6    27948904   27949268    0.000088
PGBD1        6    28357342   28378305    0.000052
HIST1H1E     6    26264537   26265322    0.000166
HIST1H2BD    6    26266327   26279555    0.000122
ZKSCAN4      6    28320468   28327981    0.000102
ZSCAN12      6    28454974   28475490    0.000078
ZNF165       6    28157001   28165319    0.000272
NKAPL        6    28335076   28336715    0.000394
OR2B2        6    27987002   27988076    0.001421
NT5C2       10   104837901  104943006    0.000621
ZSCAN23      6    28508410   28519258    0.001995
EI24        11   124944507  124959785    0.002605
ZNF184       6    27526505   27548873    0.001870
ZKSCAN3      6    28442960   28444911    0.003969
MAD1L1       7     1903850    2239109    0.000434
CNNM2       10   104668103  104828230    0.001457
AS3MT       10   104619199  104651645    0.006520
STT3A       11   124981405  124996164    0.006992
CHEK1       11   125019185  125031458    0.024971
HIST1H2BL    6    27883235   27883688    0.025208
HIST1H3H     6    27883955   27886293    0.023269
HIST1H2AJ    6    27890058   27890497    0.027500
HIST1H2BM    6    27890800   27891246    0.027500
PATE1       11   125121397  125124953    0.018187
SCGN         6    25760407   25809987    0.007567
SLC17A1      6    25906989   25938814    0.013763
PLCB2       15    38380162   38387466    0.036441
HIST1H2BC    6    26231673   26232111    0.016381
HIST1H2AC    6    26232409   26247291    0.012741
SLC17A3      6    25953306   25982450    0.013555
BTN3A2       6    26476384   26484953    0.014187
BTN2A2       6    26491441   26503079    0.013857
BTN2A1       6    26573391   26576825    0.020588
HIST1H1T     6    26215618   26216343    0.026305
HFE          6    26204593   26205035    0.029112
HIST1H4C     6    26212154   26212544    0.026580
SLC17A4      6    25881719   25888419    0.025126
TCF4        18    51082834   51282366    0.007597
GPX5         6    28604086   28609923    0.040505
AK3          9     4701157    4732043    0.020590
SNX8         7     2261164    2320625    0.041075
CCDC39       3   181908070  182070660    0.028467
CALN1        7    70882411   71550072    0.023855
CDH12        5    21786910   22889488    0.035776
PSD3         8    18429092   18915476    0.045675

### Adding information to the network

In [13]:
nx.set_node_attributes(net, values = gene_summaries.T.to_dict())

### Overlapping the data

In [37]:
overlap_nodes = set(net.nodes) & set(gene_summaries.index)

In [39]:
len(overlap_nodes)

9896

In [40]:
net_distinct = [_ for _ in set(net.nodes) if _ not in overlap_nodes]
net.remove_nodes_from(net_distinct)

In [45]:
gene_summaries = gene_summaries[gene_summaries.index.isin(overlap_nodes)]

## Heat diffusion

With heat defined as p-value of top SNP per gene

### Diffusion kernel
Cowen et al. *Nature Review Genetics*, 2017

In [27]:
from scipy.linalg import *
import scipy.sparse
import math

In [46]:
alpha = 0.85
laplacian = nx.normalized_laplacian_matrix(net)

In [20]:
pd.DataFrame(laplacian.toarray()).head()

,0,1,2,3,4,5,6,7,8,9,...,14296,14297,14298,14299,14300,14301,14302,14303,14304,14305
0,1,-1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-1,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,-1,896,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
scipy.sparse.save_npz("../data/brain_giant_laplacian.npz", laplacian)

In [ ]:
dif_kernel = expm(-alpha * laplacian)

In [ ]:
new_pvec = np.dot(dif_kernel, gene_summaries["Gene Score"])

## Random walk with restarts

In [47]:
graph_kernel = alpha * inv(np.eye(laplacian.shape[0]) - ((1 - alpha) * laplacian))

In [49]:
gene_summaries["Gene ReScore"] = np.dot(graph_kernel, gene_summaries["Gene Score"])

In [51]:
gene_summaries

           Chr  Gene Start   Gene End    Gene Score  Gene ReScore
Gene
HIST1H2BN    6    27914418   27914867  3.737463e-05 -1.007963e+00
HIST1H1B     6    27942548   27943338  8.837701e-05  1.142400e+01
PGBD1        6    28357342   28378305  5.162119e-05 -2.362811e+03
HIST1H1E     6    26264537   26265322  1.660777e-04 -1.786113e+03
HIST1H2BD    6    26266327   26279555  1.217903e-04  1.847831e+01
OR2B2        6    27987002   27988076  1.420720e-03 -2.030397e+03
EI24        11   124944507  124959785  2.604826e-03  2.214102e-03
ZNF184       6    27526505   27548873  1.869769e-03  2.409934e+00
MAD1L1       7     1903850    2239109  4.343130e-04 -5.789379e+01
CNNM2       10   104668103  104828230  1.456584e-03  1.133873e+01
AS3MT       10   104619199  104651645  6.520247e-03 -7.972538e+02
STT3A       11   124981405  124996164  6.992348e-03 -1.383723e+03
CHEK1       11   125019185  125031458  2.497115e-02 -1.873841e+02
HIST1H2BL    6    27883235   27883688  2.520826e-02  2.796570e+01
HIST1H2AJ    6    27890058   27890497  2.749992e-02 -4.749884e+02
SCGN         6    25760407   25809987  7.566845e-03  1.000627e+01
SLC17A1      6    25906989   25938814  1.376325e-02 -7.495326e+02
HIST1H4J     6    27899881   27900237  6.124610e-02  1.388037e+01
HIST1H2AC    6    26232409   26247291  1.274061e-02 -9.462034e+02
SLC17A3      6    25953306   25982450  1.355524e-02  1.694992e+01
BTN2A2       6    26491441   26503079  1.385659e-02 -3.095027e+03
BTN2A1       6    26573391   26576825  2.058776e-02  1.168457e+01
HIST1H1T     6    26215618   26216343  2.630520e-02 -1.034564e+03
HFE          6    26204593   26205035  2.911175e-02 -8.618686e-02
HIST1H4C     6    26212154   26212544  2.658029e-02  2.066102e+00
SLC17A4      6    25881719   25888419  2.512553e-02 -1.847378e+03
TCF4        18    51082834   51282366  7.596938e-03 -1.648724e+03
PRSS16       6    27327433   27332229  1.020290e-01  5.203909e+01
NUDT1        7     2249065    2257306  9.584108e-02 -4.597270e+03
SNX8         7     2261164    2320625  4.107475e-02  5.197814e+01
...        ...         ...        ...           ...           ...
ARPC3       12   109357088  109372541  4.889515e+05  4.876626e+05
SNRPC        6    34833289   34849549  9.926985e+04  9.743465e+04
KRTAP5-11   11    70970548   70971569  1.422510e+05  1.418003e+05
SH2B1       16    28782814   28793027  9.142851e+04  9.147540e+04
ATAD3B       1     1415323    1421445  1.014074e+06  1.014193e+06
S100A11      1   150271605  150276135  8.496360e+04  7.221906e+04
FAM90A1     12     8265122    8271481  1.022392e+06  8.690334e+05
PYGO2        1   153196125  153200882  1.706576e+05  1.707154e+05
PSG9        19    48453151   48465522  1.043554e+06  8.870207e+05
HAVCR2       5   156465738  156468716  1.316915e+05  1.119378e+05
MEX3D       19     1505667    1519057  3.532717e+05  3.532670e+05
ID1         20    29656752   29657974  1.806364e+05  1.807742e+05
ATF7IP      12    14469205   14471024  5.439689e+05  5.441852e+05
LARP6       15    68930821   68933552  1.217481e+05  1.219473e+05
ATAD3C       1     1387842    1395401  1.100501e+06  1.100700e+06
PRSS1        7   142158331  142161975  5.533851e+05  5.535843e+05
PDPK1       16     2546897    2574066  5.569546e+05  5.571538e+05
DNAJC2       7   102762924  102772556  3.741973e+05  3.743964e+05
KRTAP9-4    17    36659464   36660431  3.750467e+05  3.752459e+05
DTYMK        2   242263831  242266202  5.650609e+05  5.651366e+05
MSTO1        1   153847034  153851348  1.143215e+06  9.717323e+05
OR2T11       1   246856101  246857052  1.164227e+06  9.895929e+05
OR2T35       1   246868210  246869182  1.164227e+06  1.164357e+06
UGT2B17      4    69085497   69116840  1.167432e+06  9.923171e+05
KRTAP9-8    17    36647795   36648782  1.179799e+06  1.176037e+06
PYCR1       17    77483559   77488463  5.950591e+05  5.951893e+05
CLEC18A     16    68542516   68555390  1.192195e+06  1.192326e+06
UGT2B28      4    70180805   70195357  1.201171e+06  1.201301e+06
PDGFA        7      506940     519630  1.228368e+06  1.228186e+06
ABCC6       16    16222544   16224829  1.241023e+06  1.236822e+06

[9896 rows x 5 columns]

In [55]:
gene_summaries.sort_values(by = ["Gene ReScore"], axis = 0, ascending = False).to_csv("../data/gene_list_output.csv")

## Validation